<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Vueを使って連動するセレクトボックス</h1>
    <div id="app">
      <h5>【メーカー】</h5>
      <select name="maker_id" v-model="selectedMakerId" @change="onChangeMaker">
        <option></option>
        <option
          v-for="maker in makers"
          :value="maker.id"
          v-text="maker.name"
        ></option>
      </select>
      <h5>【車種】</h5>
      <select name="car_id" v-model="selectedCarId">
        <option></option>
        <option
          v-for="car in filteredCars"
          :value="car.id"
          v-text="car.name"
        ></option>
      </select>
      <hr />
      <h5>【タグ(複数選択可能)】</h5>
      <div v-for="tag in tags" :key="tag.id">
        <input type="checkbox" :value="tag.id" v-model="selectedTagIds" />
        {{ tag.name }}
      </div>
      <hr />
      <h5>【年代(単一選択)】</h5>
      <div v-for="age in ages" :key="age.id">
        <input type="radio" :value="age.id" v-model="selectedAgeId" />
        {{ age.name }}
      </div>
      <hr />
      <div>
        <h5>【選択された値】</h5>
        メーカー: <strong v-text="selectedMakerId"></strong><br />
        車種: <strong v-text="selectedCarId"></strong><br />
        タグ:
        <strong>
          <ul>
            <li v-for="tagId in selectedTagIds" v-text="tagNames[tagId]"></li>
          </ul>
        </strong>
        年代: <strong v-text="ageNames[selectedAgeId]"></strong><br />
        レビュー:
        <strong>
          <ul>
            <li v-for="review in filteredReviews" v-text="review.name"></li>
          </ul>
        </strong>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          reviews: [], // jsonデータを入れる
          makers: [], // jsonデータを入れる
          cars: [], // jsonデータを入れる
          tags: [], // jsonデータを入れる
          ages: [], // jsonデータを入れる
          selectedMakerId: null, // 選択されたメーカー
          selectedCarId: null, // 選択された車種
          selectedAgeId: null, // 選択された年代
          selectedTagIds: [], // 選択されたタグのIDの配列
        },
        methods: {
          // メーカーが変わったら、車種をリセット
          onChangeMaker() {
            this.selectedCarId = null;
          },
        },
        computed: {
          // メーカーが変わると車種の選択肢も変わる
          filteredCars() {
            return this.cars.filter(
              (car) => car.makerId == this.selectedMakerId
            );
          },
          filteredReviews() {
            return this.reviews.filter((review) => {
              const matchesCar =
                !this.selectedCarId || review.carId == this.selectedCarId;
              const matchesTags =
                !this.selectedTagIds.length ||
                this.selectedTagIds.includes(review.tagId);
              const matchesAge =
                !this.selectedAgeId || review.ageId == this.selectedAgeId;
              return matchesCar && matchesTags && matchesAge;
            });
          },
          //タグの名前を取得（選択されたタグを表示するために必要）
          tagNames() {
            const tagMap = {};
            this.tags.forEach((tag) => {
              tagMap[tag.id] = tag.name;
            });
            return tagMap;
          },
          ageNames() {
            const ageMap = {};
            this.ages.forEach((age) => {
              ageMap[age.id] = age.name;
            });
            return ageMap;
          },
        },
        mounted() {
          axios.get("json/maker-cars.json").then((response) => {
            this.makers = response.data.makers;
            this.cars = response.data.cars;
            this.tags = response.data.tags;
            this.ages = response.data.ages;
          });
          axios.get("json/review.json").then((response) => {
            this.reviews = response.data.reviews;
          });
        },
      });
    </script>
  </body>
</html>
